doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contest Archive | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='../main.css', rel='stylesheet')
    script(src='../respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    include ../navbar.jade
    .container
      .page-header
        h1 2015 Contest Results
      h2 Speed
      ol
        li Maxwell Wang
        li Richard Huang
        li Adam Bertelli
        li Alex Gu
        li Brian Liu
        li Ari Xuan
        li Ethan Kirsch
        li Nathan Ramesh
        li Roy Wang
        li Jeffrey Chang
      h2 Accuracy
      ol
        li Jeffrey Chang
        li Zhaoran Peng
        li Zigang Song
        li Nathan Ramesh
        li Andrew Wu
        li Alex Gu
        li Linxuan Rong
        li Ari Xuan
        li Maxwell Wang
        li Aaron Zhang
      h2 Team
      ol
        li Shanghai Foreign 2
        li Acton RJ Grey
        li Shanghai Foreign 3
        li Gangsta Squad
        li Clarke B
        li Clarke A
        li Shanghai Foreign 1
        li Sycamore School A
        li Bergen County Academies Tyr
        li Yan An 1
      h2 Guts
      ol
        li Shanghai Foreign 1
        li Yan An 1
        li Acton RJ Grey
        li Gangsta Squad
        li CCLS
        li Clarke A
        li Bergen County Academies Odin
        li Shanghai Foreign 4
        li WAMC A
        li Sycamore School A
      include ../footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
