body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.spaced {
    padding-top: 2px;
    padding-bottom: 2px;
}
.dark-section {
    width: 100%;
}
#about p {
    font-size: 18px;
}
#about strong {
    font-variant: small-caps;
    color: #900;
}
#about h1 {
    text-align:center;
}

.navbar-brand, nav a {
    font-weight: 500;
}

#individuals_list .input-group {
  padding-bottom: 5px;
}
.score-correct {
  background-color: #0F0;
  height: 36px;
}
.score-incorrect {
  background-color: #F00;
  height: 36px;
}
.btn-danger {
    margin-top: 5px;
}
.hidden {
  visibility: hidden;
}
