<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Register | Exeter Math Club Competition</title>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="main.css" rel="stylesheet"/>
        <link href="register.css" rel="stylesheet"/>
        <script src="build/register.min.js"></script>

    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="page-header">
                <h1>Register</h1>
            </div>
            <div class="form-horizontal" role="form">
                <div class="form-group" id="email-control">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email" required autofocus>
                    </div>
                </div>
                <div class="form-group" id="password-control">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group" id="confirm-control">
                    <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="institution" class="col-sm-2 control-label">Institution (don't fill if individual) </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="institution" placeholder="Institution" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-lg btn-primary" id="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
