doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contest Archive | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    include navbar.jade
    .container
      .page-header
        h1 Contest Archive
      h2 2015
      a(href='archive/emcc15all.pdf') Problems and solutions
      br
      a(href='archive/2015results.html') Results
      h2 2014
      a(href='archive/emcc14all.pdf') Problems and solutions
      h2 2013
      a(href='archive/emcc13all.pdf') Problems and solutions
      h2 2012
      a(href='archive/emcc12all.pdf') Problems and solutions
      h2 2011
      a(href='archive/emcc11all.pdf') Problems and solutions
      h2 2010
      a(href='archive/emcc10all.pdf') Problems
      br
      a(href='archive/emcc10sol.pdf') Solutions
      include footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
