doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contest Information | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    include navbar.jade
    .container
      .page-header
        h1 Contact Information
      div
        | Tournament directors:
        a(href='mailto:zsong@exeter.edu') Alex Song
        | |
        a(href='mailto:cqian@exeter.edu') Chad Qian
        br
        | Website managers:
        a(href='mailto:wfan@exeter.edu') Weihang Fan
        | |
        a(href='mailto:dbau@exeter.edu') Anthony Bau
      include footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
