doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Forgot Password | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    include navbar.jade
    .container
      .page-header
        h1 Forgot Password
      .form-horizontal
        #email-control.form-group
          label.col-sm-2.control-label(for='email') Email
          .col-sm-10
            input#email.form-control(type='email', placeholder='Email', required='required', autofocus='autofocus')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#submit.btn.btn-lg.btn-primary Submit
      #info
      include footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='build/forgot.min.js')
