doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grading | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    link(href='register.css', rel='stylesheet')
    script(src='respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
    style.
      .hidden {
        visibility: hidden
      }
  body
    include navbar.jade
    .container
      .page-header
        h1 Grading
      .form-horizontal(role='form')
        #password-control.form-group
          label.col-sm-2.control-label(for='password') Password
          .col-sm-10
            input#password.form-control(type='password', required='required', autofocus='autofocus')
        #round-control.form-group
          label.col-sm-2.control-label(for='round') Round
          .col-sm-10
            select#round.form-control(required='required')
              option(value='speed' selected='selected') Speed
              option(value='accuracy') Accuracy
              option(value='team') Team
              option(value='guts') Guts
        #guts-round-control.form-group.hidden
          label.col-sm-2.control-label(for='guts-round') Guts Round
          .col-sm-10
            select#guts-round.form-control
              option(value='1', selected='selected') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
        #id-control.form-group
          label.col-sm-2.control-label(for='id') ID
          .col-sm-10
            .input-group
              input#id.form-control(type='text', required='required')
              span#graded.input-group-addon
        #checkboxes.form-group
        #diff
        .form-group
          .col-sm-offset-2.col-sm-10
            button#submit.btn.btn-lg.btn-primary Submit
      include footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='sha512.js')
    script(src='build/grading.min.js')
