nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
          a.navbar-brand(href='/index.html') Exeter Math Club Competition
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/index.html') Home
            li
              a(href='/contest.html') Contest
            li
              a(href='/archive.html') Archive
            li
              a(href='/travel.html') Travel
            li
              a(href='/contact.html') Contact
          .navbar-right
            #noauth
              a.btn.btn-primary.navbar-btn(href='/login.html') Login
              | 
              a.btn.btn-primary.navbar-btn(href='/register.html') Register
            #auth.hidden
              a.btn.btn-primary.navbar-btn(href='/scores.html') View Scores
              | 
              a.btn.btn-primary.navbar-btn(href='/register_team.html') Register Team
              | 
              a.btn.btn-primary.navbar-btn(href='/logout') Logout
            script.
              if (document.cookie.indexOf('logged_in') !== -1) {
                document.getElementById('noauth').className = 'hidden';
                document.getElementById('auth').className = '';
              }
