doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Password Reset | Exeter Math Club Competition
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='../main.css', rel='stylesheet')
    script(src='../respond.min.js')
    link(rel='shortcut icon', href='favicon.ico')
  body
    include navbar.jade
    .container
      .page-header
        h1 Reset Password
      .form-horizontal
        .form-group
          label.col-sm-2.control-label(for='password') Password
          .col-sm-10
            input#password.form-control(type='password', placeholder='Password', required='required')
        #confirm-control.form-group
          label.col-sm-2.control-label(for='confirm_password') Confirm Password
          .col-sm-10
            input#confirm_password.form-control(type='password', placeholder='Password', required='required')
        input#token.hidden(type='hidden', name='token', value='{{ token }}')
        .form-group
          .col-sm-offset-2.col-sm-10
            button#submit.btn.btn-lg.btn-primary Submit
      #info
      include footer.jade
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='../sha512.js')
    script(src='../build/reset.min.js')
